xcuserdata/

# Carthage

Carthage/Checkouts
Carthage/Build

# Fastlane

fastlane/report.xml
fastlane/Preview.html
fastlane/test_output

# Fastlane - Screenshots

fastlane/screenshots/en-US/*.png
fastlane/screenshots/fonts/*.otf
fastlane/screenshots/screenshots.html

# Visual Studio Code

.vscode/
