<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>588182057632-54mcs6chm2usla9j3nahhm8o0flnj322.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588182057632-54mcs6chm2usla9j3nahhm8o0flnj322</string>
	<key>API_KEY</key>
	<string>AIzaSyCsMgZa1Qlw_3JfhNqPawh1iYksCaIf3DI</string>
	<key>GCM_SENDER_ID</key>
	<string>588182057632</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.albinek.ios.BitBay-Ticker</string>
	<key>PROJECT_ID</key>
	<string>bitbay-ticker-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>bitbay-ticker-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:588182057632:ios:0652d67f60056588</string>
	<key>DATABASE_URL</key>
	<string>https://bitbay-ticker-ios.firebaseio.com</string>
</dict>
</plist>
